name: CDK Deploy Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Install hi-lambda dependencies
        run: npm install
        working-directory: src/hi-lambda

      - name: Install sfn-invoker-lambda dependencies
        run: npm install
        working-directory: src/sfn-invoker-lambda

      - name: Build
        run: npm run build

      # - name: Run tests
      #   run: npm test

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: CDK Bootstrap
        run: npx cdk bootstrap

      - name: CDK Deploy
        run: npx cdk deploy --require-approval never
